In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series,DataFrame

In [2]:
train_df = pd.read_csv('train_loan.csv')
train_df
test_df =pd.read_csv('test_loan.csv')
test_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [3]:
train_df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
test_df.shape

(367, 12)

In [5]:
train_df.shape

(614, 13)

In [6]:
train_df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
train_df.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [8]:
#Filling Missing Values in training Set

In [9]:
train_df['Gender'].fillna(train_df['Gender'].mode()[0],inplace=True)
train_df['Married'].fillna(train_df['Married'].mode()[0],inplace = True)
train_df['Dependents'].fillna(train_df['Dependents'].mode()[0],inplace = True)
train_df['Self_Employed'].fillna(train_df['Self_Employed'].mode()[0],inplace =  True)
train_df['Loan_Amount_Term'].fillna(train_df['Loan_Amount_Term'].mode()[0],inplace =  True)
train_df['Credit_History'].fillna(train_df['Credit_History'].mode()[0],inplace =  True)
train_df['LoanAmount'].fillna(train_df['LoanAmount'].mode()[0],inplace =  True)

In the above  we fill missing values

In [10]:
train_df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

Same we will do for test  set  i.e test_df

In [11]:
test_df.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [12]:
# replacing 3+ in Dependents variable with 3 for both train and test set
train_df['Dependents'].replace('3+', 3, inplace=True)
test_df['Dependents'].replace('3+', 3, inplace=True)

In [13]:
X_train = train_df.iloc[:,1:12].values
y_train = train_df.iloc[:,12].values

In [14]:
#Encoding Categorical Data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [15]:
lbl_encoder = LabelEncoder()
X_train[:,0] = lbl_encoder.fit_transform(X_train[:,0])
X_train[:,1] = lbl_encoder.fit_transform(X_train[:,1])
X_train[:,3] = lbl_encoder.fit_transform(X_train[:,3])
X_train[:,4] = lbl_encoder.fit_transform(X_train[:,4])
X_train[:,10] = lbl_encoder.fit_transform(X_train[:,10])

In [16]:
lbl_encoder_y = LabelEncoder()
y_train = lbl_encoder_y.fit_transform(y_train)

In [17]:
onehotencoder = OneHotEncoder(categorical_features = [0,1,3,4,10])
X_train= onehotencoder.fit_transform(X_train).toarray()

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [18]:

X_train.shape

(614, 17)

In [19]:
X_train =pd.DataFrame(X_train)
X_train.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5849.0,0.0,120.0,360.0,1.0
1,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,4583.0,1508.0,128.0,360.0,1.0
2,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,3000.0,0.0,66.0,360.0,1.0
3,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,2583.0,2358.0,120.0,360.0,1.0
4,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,6000.0,0.0,141.0,360.0,1.0

In [20]:
#Same we apply to test set
#Fill missing values

test_df['Gender'].fillna(test_df['Gender'].mode()[0],inplace=True)
test_df['Married'].fillna(test_df['Married'].mode()[0],inplace = True)
test_df['Dependents'].fillna(test_df['Dependents'].mode()[0],inplace = True)
test_df['Self_Employed'].fillna(test_df['Self_Employed'].mode()[0],inplace =  True)
test_df['Loan_Amount_Term'].fillna(test_df['Loan_Amount_Term'].mode()[0],inplace =  True)
test_df['Credit_History'].fillna(test_df['Credit_History'].mode()[0],inplace =  True)
test_df['LoanAmount'].fillna(test_df['LoanAmount'].mode()[0],inplace =  True)

In [21]:
test_df.isna().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

In [22]:
X_test = test_df.iloc[:,1:13].values

In [23]:
#Encodig Categorical Test Data
lbl_encoder_test = LabelEncoder()
X_test[:,0] = lbl_encoder_test.fit_transform(X_test[:,0])
X_test[:,1] = lbl_encoder_test.fit_transform(X_test[:,1])
X_test[:,3] = lbl_encoder_test.fit_transform(X_test[:,3])
X_test[:,4] = lbl_encoder_test.fit_transform(X_test[:,4])
X_test[:,10] = lbl_encoder_test.fit_transform(X_test[:,10])

In [24]:
#Applying one hot Encoder
onhotencoder= OneHotEncoder(categorical_features = [0,1,3,4,10])
X_test = onehotencoder.fit_transform(X_test).toarray()

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [25]:
X_test.shape

(367, 17)

In [26]:
X_test = pd.DataFrame(X_test)
X_test.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,5720.0,0.0,110.0,360.0,1.0
1,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3076.0,1500.0,126.0,360.0,1.0
2,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,5000.0,1800.0,208.0,360.0,1.0
3,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,2340.0,2546.0,100.0,360.0,1.0
4,0.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,3276.0,0.0,78.0,360.0,1.0

In [27]:
#First Avoid Dummy Variable Trap and apply it on both training and test data
X_train = X_train.iloc[:,1:] #In spyder we don't require iloc

In [28]:
X_train.shape

(614, 16)

In [29]:
X_test = X_test.iloc[:,1:]

In [30]:
X_test.shape

(367, 16)

In [31]:
#Split Data Set
from sklearn.model_selection import train_test_split
X_train_1,X_test_1,y_train_1,y_test_1 = train_test_split(X_train,y_train, test_size =  0.2,
                                                         random_state=0)

In [32]:
#Apply Feature scalling
from sklearn.preprocessing import StandardScaler
SC = StandardScaler()
X_train_1 = SC.fit_transform(X_train_1)
X_test_1 = SC.transform(X_test_1)
X_test = SC.transform(X_test)

In [33]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = None)
classifier.fit(X_train_1,y_train_1)
y_pred_1= classifier.predict(X_test_1)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [34]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test_1,y_pred_1)
cm

array([[15, 18],
       [ 2, 88]], dtype=int64)

In [35]:
#Checking Accuracy
from sklearn.metrics import accuracy_score
ac = accuracy_score(y_test_1,y_pred_1)
ac

0.8373983739837398

In [36]:
#Predicting the test results
y_test_pred = classifier.predict(X_test)

In [37]:
y_test_pred

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [38]:
#Applying Kernel SVM Model
from sklearn.svm import SVC
classifier_1 = SVC(kernel = 'rbf', random_state = 0)
classifier_1.fit(X_train_1,y_train_1)
y_pred_2 = classifier_1.predict(X_test_1)

In [39]:
from sklearn.metrics import accuracy_score
ac_1 = accuracy_score(y_test_1,y_pred_2)
ac_1

0.8292682926829268

In [40]:
#Applying XGBoost
from xgboost import XGBClassifier
classifier_2 = XGBClassifier()
classifier_2.fit(X_train_1,y_train_1)
y_pred_3 =  classifier_2.predict(X_test_1)

In [41]:
from sklearn.metrics import accuracy_score
ac_2 = accuracy_score(y_test_1,y_pred_3)
ac_2

0.8211382113821138

In [42]:
#Hence Logistic Regression Give us Better Output

In [43]:
#Submitting the Project
submission = pd.read_csv("Sample_Submission.csv")

In [44]:
#Set the Loan ID and Loan Status Predictions
submission['Loan_Status'] = y_test_pred
submission['Loan_ID'] = test_df['Loan_ID']

In [45]:
submission['Loan_Status'].replace(0, 'N',inplace=True)
submission['Loan_Status'].replace(1, 'Y',inplace=True)

In [46]:
#Convert Submission to CSV file
pd.DataFrame(submission, columns=['Loan_ID','Loan_Status']).to_csv('logistic.csv')

In [47]:
y_test_pred = pd.DataFrame(y_test_pred)
y_test_pred.head(10)

   0
0  1
1  1
2  1
3  1
4  1
5  1
6  1
7  0
8  1
9  1